body {
    background-color: sienna;
    margin: 0;

}

.title {
    color: #fff;
    text-align: center;
    margin-top: 30px; 
}

.my-button-text {
    background-color: #e7eaef;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: rgb(50, 50, 50);
    font-size: 15px;
}
.my-button-text:hover {
    background-color: #bfcfeb;
    cursor: pointer;
}

.options {
    background-color: #e7eaef;
    padding: 10px;
}

.text-editor-main {
    width: 1200px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0.3rem 0.9rem 0.9rem rgb(0, 0, 0, 0.1);
}

.contentOutput {
    background-color: #fff;
    height: 350px;
    overflow-wrap: break-word;
    padding: 30px;
    font-size: 20px;
}